<!DOCTYPE html>
<html>
<head>
  <title>Hackathon</title>
</head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script> -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
  <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
<body>
  

<div class="back-image bg-parallax ">
  
  <nav>
      <ul>
      <li><a  href="#">Home</a></li>
      <li><a href="#1234" class="menu">About</a></li>
      <li><a href="#1235">Gaurav</a></li>
      <li><a href="#1236">Nischay</a></li>
      <li><a href="#1237">Contact</a></li>
      </ul>
<!-- 
    <fb:login-button 
      scope="public_profile,email"
      onlogin="checkLoginState();" style="display: hidden;">
    </fb:login-button> -->
  </nav>
  <div class="internal-cover"></div>
  <div class="internal-data">WELCOME</div>
</div>

<div class="container" style="margin-bottom: 150px;" id="1234">
        <h3 class="text-center new-about-heading">About</h3>
        <div class="content-title-underline" style="margin-bottom: 70px;"></div>                   
        <p> 
          As a Recommender System is bale to suggest and places to the end user. In the same way our app helps user to look at desired content from Facebook.
          This application is easy to use and user friendly. 
          This app is made using facbook api
        </p>
</div>
<!-- Gaurav Section -->

<section id="Gaurav">

    <!-- About Left side wih diagonal BG parallax -->
    <div id="about-bg-diagonal2" class="bg-parallax"> </div>
    <!-- About left sid with content -->
    <div class="container-fluid" id="1235">
        <div class="row">
            <div class="col-md-12">
                <div id="about-content-box">
                    <div id="about-content-box-outer">
                        <div id="about-content-box-inner">
                            <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s" style="margin-top: -50px;">
                                <h3 style="text-align: left;">Gaurav</h3>
                                <div class="content-title-underline" style="float: left;"></div>
                            </div>
                            <div id="about-desc2" class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s" style="display: inline-block;">
                                <p style="font-size: 20px!important;">
                                  Hi, my name is Gaurav. I am a smart bot. I can understand what you say, and help you by providing what you want.
                                  If you want to know something about a thing, i will provide you the content related to that. 
                                  <br><br>
                                  I can speak. 
                                  <br><br>
                                  Come let's talk.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sim Section --> 

<section id="about">

    <!-- About right side wih diagonal BG parallax -->
    <div id="about-bg-diagonal" class="bg-parallax"> </div>
    <!-- About left sid with content -->
    <div class="container-fluid" id="1236">
        <div class="row">
            <div class="col-md-12">
                <div id="about-content-box">
                    <div id="about-content-box-outer">
                        <div id="about-content-box-inner">
                            <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s" style="margin-top: -50px;text-align: center;">
                                <h3>Nischay</h3>
                                <div class="content-title-underline"></div>
                            </div>
                            <div id="about-desc" class="wow fadeInDown" data-wow-duration="1s" data-wow-delay=".3s">
                                <p  style="font-size: 20px!important;">
                                  Hi, my name is Nischay. I am a smart bot, and a friend of Gaurav. I can understand what you say, and help you by providing what you want, just like my friend.
                                  But, if you are intrested in something i will find it for you, and take you there.
                                  <br><br>
                                  Yeah,I can speak as well.
                                  <br><br>
                                  Come let's talk.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- footer -->
<footer>
    <div class="container" id="1237">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-left">
                    <h3>New_pack</h3>
                    <p>We believe in <strong>Simple </strong>&<strong>Strong </strong> mutual relation in between we and you.Browse the amazing work of our bot.</p>
                    <div id="contact-info">
                        <address>
                            <strong style="font-size: 23px;font-weight: 700;">Headquarters:</strong><br>
                            <p>NIT KURUKSHETRA,<br>
                                KURUKSHETRA 136118</p>
                        </address>

                        <div id="phone-fax-email">
                            <p>
                                <strong>Phone:</strong> <span>9068793674</span><br>
                                <strong>Fax : </strong> <span>9068793674</span><br>
                                <strong>Email:</strong> <span>New_pack@gmail.com</span><br>
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-right">
                    <h3>contact us</h3>
                    <div id="contact-form">
                        <form action="#">
                            <input type="text" name="userName" placeholder="Full Name" class="form-control footer-control" required><br>
                            <input type="email" name="userEmail" placeholder="Email Address" class="form-control footer-control" required><br>
                            <textarea rows="5" name="message" placeholder="Message..." class="form-control footer-control"></textarea><br>
                            <div id="send-btn">
                                <a href="" role="button" class="btn btn-lg btn-general btn-white" onclick="alert('Thanks for contacting us, We will reply you soon !!!');">SEND</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div id="footer-copyrights">
                        <p>Copyrights &copy; 2018 All Rights Reserved by new pack.</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</footer>
  
  <div id="body"> 
    <div id="chat-circle" class="btn btn-raised" onclick="location.href='#1235'">
          <div id="chat-overlay"></div>
          <i class="material-icons" >speaker_phone</i>
    </div>
    <div class="chat-box">
      <div class="chat-box-header">
        Gaurav
        <span class="chat-box-toggle"><i class="material-icons">close</i></span>
      </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay">   
        </div>
        <div class="chat-logs">
         
        </div><!--chat-log -->
      </div>
      <div class="chat-input">      
        <form>
          <input type="text" id="chat-input" placeholder="Send a message..."/>
        <button type="submit" class="chat-submit" id="chat-submit"><i class="material-icons">send</i></button>
        </form>      
      </div>
    </div>
  
  </div>


  <div id="body2" style="z-index: 100"> 
    <div id="chat-circle2" class="btn2 btn-raised2"  onclick="location.href='#1236'">
          <div id="chat-overlay2"></div>
          <i class="material-icons">speaker_phone</i>
    </div>
    <div class="chat-box2">
      <div class="chat-box-header2">
        Nischay
        <span class="chat-box-toggle2"><i class="material-icons">close</i></span>
      </div>
      <div class="chat-box-body2">
        <div class="chat-box-overlay2">   
        </div>
        <div class="chat-logs2">
         
        </div><!--chat-log -->
      </div>
      <div class="chat-input2">      
        <form>
          <input type="text" id="chat-input2" placeholder="Send a message..."/>
        <button type="submit" class="chat-submit2" id="chat-submit2"><i class="material-icons">send</i></button>
        </form>      
      </div>
    </div>
  </div>

</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/auth.js') }}"></script>
<script type="text/javascript">
  $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
    }, 500);
});
</script>
</html>